* {
    font-size: x-large;
}

p {
    text-align: left;
    word-wrap: break-word;
    display: inline-block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

div.main {
    display: inline-block;
    width: fit-content;
    max-width: 800px;
    margin: auto;
}

html {
    height: 100%;
}

body {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    margin: 0px;
}

form {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
}

.radio-label {
    padding: 5x;
    width: 150px;
    display: inline-block;
}

.radio-description {
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 570px;
}

.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

img {
    padding-bottom: 30px;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#problem {
    color: red;
    margin-top: 30px;
    width: fit-content;
}

div.wide {
    max-width: 960px;
}